@using MySeenMobileWebViewLib
@inherits PortableRazor.ViewBase
@using MySeenLib;
@model HomeViewModel

<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="jquery-2.1.4.js"></script>
    <script src="jquery-2.1.4.min.js"></script>
    <script src="jquery.mobile-1.4.5.min.js"></script>

    <script src="jquery.lazyloadxt.js"></script>
    <script src="bootstrap.min.js"></script>
    
    <link href="jquery.mobile-1.4.5.css" rel="stylesheet" />
    <link href="bootstrap.css" rel="stylesheet" />

</head>
    <body>
        <div class="form-inline">
            <div class="form-group">
                <div class="inline">
                    <label for="lstSelected" style="display: block;">@MySeenLib.Resource.SelectTheCategory</label>
                    <select class="form-control" id="lstSelected" name="Selected" style="width : 100px" onchange="location.href='@Url.Action("ChangeSelected")'">
                        <option value="1" @(Model.isFilm ? " selected" : " ")>@MySeenLib.Resource.Films</option>
                        <option value="2" @(!Model.isFilm ? " selected" : " ")>@MySeenLib.Resource.Serials</option>
                    </select>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action(Model.isFilm ? "AddFilm" : "AddSerial")'"><span class="glyphicon glyphicon-plus"></span>&nbsp;@Resource.AddNew</button>
                </div>
            </div>
        </div>
        <table class="table table-striped" id="table">
            @if(Model.isFilm)
            { 
                <thead>
                    <tr>
                        <th width="10%" class="align-center"></th>
                        <th width="60%" class="align-center">@MySeenLib.Resource.Name</th>
                        <th width="20%" class="align-center">@MySeenLib.Resource.Date</th>
                        <th width="10%" class="align-center">@MySeenLib.Resource.Genre</th>
                        <th width="10%" class="align-center">@MySeenLib.Resource.Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var film in Model.FilmsList)
                    {
                        <tr>
                            <!--<td class="align-center"><button type="button" class="btn btn-info btn-edit" onclick="location.href='@Url.Action("EditFilm", new { id = film.Id })'"><span class="glyphicon glyphicon-pencil"></span>&nbsp;@Resource.Edit</button></td>-->
                            <td class="align-left"></td>
                            <td class="align-left">@film.Name</td>
                            <td class="align-center">@film.DateSee10</td>
                            <td class="align-center">@film.GenreText</td>
                            <td class="align-center">@film.RatingText</td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <thead>
                    <tr>
                        <th width="10%" class="align-center"></th>
                        <th width="40%" class="align-center">@MySeenLib.Resource.Name</th>
                        <th width="10%" class="align-center">@MySeenLib.Resource.LastEpisode</th>
                        <th width="20%" class="align-center">@MySeenLib.Resource.DateLast</th>
                        <th width="20%" class="align-center">@MySeenLib.Resource.DateBegin</th>
                        <th width="10%" class="align-center">@MySeenLib.Resource.Genre</th>
                        <th width="10%" class="align-center">@MySeenLib.Resource.Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var serial in Model.SerialsList)
                    {
                        <tr>
                            <!--<td class="align-center"><button type="button" class="btn btn-info btn-edit" onclick="location.href='@Url.Action("EditSerial", new { id = serial.Id })'"><span class="glyphicon glyphicon-pencil"></span>&nbsp;@Resource.Edit</button></td>-->
                            <td class="align-left"></td>
                            <td class="align-center">@serial.Name</td>
                            <td class="align-center">@serial.LastSeason-@serial.LastSeries</td>
                            <td class="align-center">@serial.DateLast</td>
                            <td class="align-center">@serial.DateBegin</td>
                            <td class="align-center">@serial.GenreText</td>
                            <td class="align-center">@serial.RatingText</td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <script type="text/javascript">
            window.onload = function ()
            {
                //alert("test2");
            };
        </script>
</body>
</html>
