@model MySeenWeb.Models.HomeViewModel

<!DOCTYPE html>
<html data-ng-app="MySeenApp">
<head>

    @Html.Partial("Parts/Meta", Model.Meta)

    @Html.Partial("Parts/Scripts")

    @Html.Partial("Parts/Styles", Model.Theme)

</head>

<body class="main">

    @Html.Partial("Parts/NavBar", Model)

    <div class="container body-content">
        <div data-ui-view></div>
    </div>

    @Html.Partial("Parts/Auth", Model)

    @Html.Partial("Parts/Analytics")

    <!--for use cookie or session -->
    @Html.Partial("../Tools/TestCookie")

    <!--google translate for site -->
    @if (!Model.HaveLanguage)
    {
        @Html.Partial("../Tools/Services/Google/Translate")
    }
    
    <!--send data to js-->
    @Html.Partial("Parts/ToJS", Model)

</body>
</html>
