@model MySeenWeb.Models.ShareViewModels.ShareViewModelBaseMin

@if (Model.VkontakteServicesEnabled || Model.GoogleServicesEnabled || Model.FacebookServicesEnabled)
{
    if (Model.VkontakteServicesEnabled)
    {
        @Html.Partial("Tools/Services/VK/_Base")
    }
    if (Model.GoogleServicesEnabled)
    {
        @Html.Partial("Tools/Services/Google/_Base")
    }
    if (Model.FacebookServicesEnabled)
    {
        @Html.Partial("Tools/Services/Facebook/_Base")
    }
    <div class="table-responsive">
        <table class="table table-striped" id="table_shares_likes">
            <tbody>
                @if (Model.VkontakteServicesEnabled)
                {
                    <tr>
                        <td class="align-center">@Html.Partial("Tools/Services/VK/Like")</td>
                        <td class="align-center">@Html.Partial("Tools/Services/VK/Share")</td>
                    </tr>
                }
                @if (Model.GoogleServicesEnabled)
                {
                    <tr>
                        <td class="align-center">@Html.Partial("Tools/Services/Google/Like")</td>
                        <td class="align-center">@Html.Partial("Tools/Services/Google/Share")</td>
                    </tr>
                }
                @if (Model.FacebookServicesEnabled)
                {
                    <tr>
                        <td class="align-center">@Html.Partial("Tools/Services/Facebook/Like")</td>
                        <td class="align-center">@Html.Partial("Tools/Services/Facebook/Share")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="table_comments">
            <tbody>
                @if (Model.VkontakteServicesEnabled)
                {
                    <tr>
                        <td class="align-center">@Html.Partial("Tools/Services/VK/Comments")</td>
                    </tr>
                }
                @if (Model.GoogleServicesEnabled)
                {
                    <tr>
                        <td class="align-center">@Html.Partial("Tools/Services/Google/Comments")</td>
                    </tr>
                }
                @if (Model.FacebookServicesEnabled)
                {
                    <tr>
                        <td class="align-center">@Html.Partial("Tools/Services/Facebook/Comments")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
