@model MySeenWeb.Models.ShareViewModels.ShareViewModelSerialsMin

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
@Scripts.Render("~/bundles/myseen.table")
@Scripts.Render("~/bundles/knockout")

<br/>

<div data-bind="visible: dataLoading " align="center">
    <img src="~/Content/Images/loading_small.gif" />
</div>

<div data-bind="visible: serials().length > 0" style="display: none;">

    <div class="table-responsive">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th class="col-sm-4">@Resource.Name</th>
                    <th class="col-sm-1">@Resource.Year</th>
                    <th class="col-sm-1">@Resource.LastEpisode</th>
                    <th class="col-sm-2">@Resource.DateLast</th>
                    <th class="col-sm-2">@Resource.DateBegin</th>
                    <th class="col-sm-1">@Resource.Genre</th>
                    <th class="col-sm-1">@Resource.Rating</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: serials">
                <tr>
                    <td class="align-center" data-bind="text: name"></td>
                    <td class="align-center" data-bind="text: year"></td>
                    <td class="align-center" data-bind="text: season"></td>
                    <td class="align-center" data-bind="text: dateLast"></td>
                    <td class="align-center" data-bind="text: dateBegin"></td>
                    <td class="align-center" data-bind="text: genre"></td>
                    <td class="align-center" data-bind="text: rating"></td>
                </tr>
            </tbody>
        </table>
    </div>

    @Html.Partial("../Tools/PaginationKO")

    @Html.Partial("../Tools/VKShare")

</div>

@Html.Partial("Tools/GetPage")


<script language="javascript" type="text/javascript">

    function Serial(data) {

        this.name = ko.observable(data.Name);
        this.year = ko.observable(data.YearText);
        this.season = ko.observable(data.SeasonSeries);
        this.dateLast = ko.observable(data.DateLastText);
        this.dateBegin = ko.observable(data.DateBeginText);
        this.genre = ko.observable(data.GenreText);
        this.rating = ko.observable(data.RatingText);
    }

    function SerialsViewModel() {

        var self = this;
        self.serials = ko.observableArray([]);
        self.dataLoading = ko.observable();
        self.dataLoading(true);

        self.loadData = function (data) {

            var mapped = $.map(data.Data, function (item) { return new Serial(item) });
            if (self.serials().length > 0) {
                self.serials.push.apply(self.serials, mapped);
            } else {
                self.serials(mapped);
            }

            window.showPagination(data.Pages);

            self.dataLoading(false);
        };

        self.resetData = function () {
            self.serials.removeAll();
        };

        self.setLoadingData = function () {
            self.dataLoading(true);
        };
    }

    var model;

    function showPage(data) {

        model.loadData(data);
    }

    (function ($) {
        $(function() {

            model = new SerialsViewModel();
            ko.applyBindings(model);

            window.sharedKey = '@Model.Key';
            window.sharedPageName = 'serials';

            window.getPage(); //Запрос на сервер

        });
    })(jQuery);
</script>