@model MySeenWeb.Models.ShareViewModels.ShareViewModelTracksMin

@Scripts.Render("~/bundles/gmap3", "~/bundles/myseen.gmap")
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&amp;language=@CultureInfoTool.GetCulture()"></script>

<br />

<div id="divDataRoadsShared">

    <div data-bind="visible: dataLoading " align="center">
        <img src="~/Content/Images/loading_small.gif"/>
    </div>

    <div class="panel panel-primary col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">@Resource.Map</div>
            <div id="my_map" class="gmap page-size-gmap"></div>
        </div>
    </div>
    <div class="panel panel-primary col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Resource.Legend
                <span class="alert-info small">
                    <select class="input-sm" id="lstYears" data-bind="options: yearsList, optionsText: 'text', optionsValue: 'value', value: selectedYear"></select>
                </span>
            </div>
            <div class="tab-content">
                <div data-bind="foreach: data">
                    <a href="#" class="list-group-item track-id">
                        <h5 class="list-group-item-heading">
                            <span data-bind="text: name"></span>
                            <span class="badge pull-right" data-bind="text: date"></span>
                        </h5>
                        <h6 class="list-group-item-text align-center">@Resource.Distance :<span class="badge pull-right alert-info small" data-bind="text: distance"></span></h6>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("Tools/Services", Model)

    @Html.Partial("Tools/GetPage")
</div>

<script language="javascript" type="text/javascript">
    function ShareRoad(data) {

        this.name = ko.observable(data.Name);
        this.date = ko.observable(data.DateText);
        this.distance = ko.observable(data.DistanceText);
    }

    function SelectList(data) {
        this.text = ko.observable(data.Text);
        this.value = ko.observable(data.Value);
        this.selected = ko.observable(data.Selected);
    }

    function ShareRoadsViewModel() {

        var self = this;

        self.data = ko.observableArray([]);

        self.yearsList = ko.observableArray([]);
        self.selectedYear = ko.observable();

        self.selectedYear.subscribe(function (newValue) {
            if (self.dataLoading() === true) {
                //console.log("data loading no need redirect");
                return;
            }

            $.post('/Home/ChangeCookiesRoads/', { selected: newValue }, function () {
                window.getPage(); //Запрос на сервер
                showTrackByKey('@Model.Key', '@Model.Key');
            }, "json");
        });

        self.dataLoading = ko.observable();
        self.dataLoading(true);

        self.loadData = function (data) {

            var mapped = $.map(data.Data, function (item) { return new ShareRoad(item) });
            self.yearsList($.map(data.YearsList, function (item) { return new SelectList(item); }));

            //console.log("self.yearsList().length=", self.yearsList().length);
            for (var i = 0; i < self.yearsList().length; i += 1) {
                var dataYear = self.yearsList()[i];
                //console.log("selected=", dataYear.selected());
                if (dataYear.selected() === true) {
                    //console.log("selectedYear=", dataYear.value());
                    self.selectedYear(dataYear.value());
                }
            }

            self.data(mapped);

            self.dataLoading(false);
        };

        self.resetData = function () {
            self.data.removeAll();
        };

        self.setLoadingData = function () {
            self.dataLoading(true);
        };
    }

    var model;

    function showPage(data) {
        model.loadData(data);
    }

    (function ($) {
        $(function () {

            model = new ShareRoadsViewModel();
            ko.applyBindings(model, document.getElementById('divDataRoadsShared'));

            window.sharedKey = '@Model.Key';
            window.sharedPageName = 'roads';
            window.getPage(); //Запрос на сервер

            $.post('/Home/GetMarkers/', {}, function (markers) {

                initialGmap('@CultureInfoTool.GetCulture()', markers);

                showTrackByKey('@Model.Key', '@Model.Key');

            }, "json");

        });
    })(jQuery);
</script>
