@using MySeenWeb.Models;

@model MySeenWeb.Models.ShareViewModels.ShareViewModelTracks

<br />

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
@Scripts.Render("~/bundles/gmap3", "~/bundles/myseen.gmap")

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&amp;language=@CultureInfoTool.GetCulture()"></script>

<div class="panel panel-primary col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Resource.Legend
            <span class="alert-info small">
                @Html.DropDownList("Years", Model.YearsList, new { @class = "input-sm", @id = "lstYears", @style = "width: 100px;" })
            </span>
        </div>
        <div class="tab-content">
            @if (Model.AllUsersTracks)
            {
                <div>
                    <a href="#" class="list-group-item track-id">
                        <h5 class="list-group-item-text align-center">@Resource.Tracks :<span class="badge pull-right">@Model.Count</span></h5>
                        <h6 class="list-group-item-text align-center">@Resource.Distance :<span class="badge pull-right alert-info small">@Model.DistanceText</span></h6>
                    </a>
                </div>
            }
            else
            {
                <div>
                    @foreach (var track in Model.Data)
                    {
                        <a href="" class="list-group-item track-id" id=@track.Id>
                            <h5 class="list-group-item-heading">@track.Name<span class="badge pull-right">@track.DateText</span></h5>
                            <h6 class="list-group-item-text align-center">@Resource.Distance :<span class="badge pull-right alert-info small">@track.DistanceText</span></h6>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-primary col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">@Resource.Map</div>
        <div id="my_map" class="gmap page-size-gmap"></div>
    </div>
</div>

@Html.Partial("../Tools/VK/Like")
@Html.Partial("../Tools/VK/Share")
@Html.Partial("../Tools/VK/Comments")

<script language="javascript" type="text/javascript">
    (function ($) {
        initialGmap('@CultureInfoTool.GetCulture()', '@Model.Markers');
        $(function () {
            var $select = $('#lstYears');

            showTrackByKey('@Model.Key', '@Model.Key');
            var url = '';
            var data = {};
            function sendRequest(innerUrl, innerData, noRedirect) {
                $.ajax({
                    type: 'POST',
                    url: innerUrl,
                    data: innerData,
                    dataType: 'json',
                    success: function (response) {
                        if (response.error) {
                            alert(response.error);
                        }
                        else {
                            if (!noRedirect) window.location.href = window.location.href;
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });

                return false;
            }

            $select.on('change', function () {
                var value = $(this).val();

                url = '/Home/ChangeCookiesRoads';
                data = {
                    selected: value
                };

                sendRequest(url, data);

                return false;
            });

        });
    })(jQuery);
</script>
