@{
    ViewBag.Title = Resource.Errors;
}
<br />
<div id="divDataErrors">
    <div data-bind="visible: dataLoading " align="center">
        <img src="~/Content/Images/loading_small.gif" />
    </div>

    <div data-bind="visible: nlogs().length > 0" style="display: none;">

        <div class="table-responsive">
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-1">@Resource.When</th>
                        <th class="col-sm-1">@Resource.Host</th>
                        <th class="col-sm-1">@Resource.Type</th>
                        <th class="col-sm-1">@Resource.Message</th>
                        <th class="col-sm-1">@Resource.Level</th>
                        <th class="col-sm-3">@Resource.StackTrace</th>
                        <th class="col-sm-3">@Resource.Variables</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: nlogs">
                    <tr>
                        @if (Admin.IsAdmin(User.Identity.Name))
                        {
                            <td class="align-center"><button type="button" class="btn btn-danger btn-xs" data-bind="attr: {id: id}"><span class="glyphicon glyphicon-remove"></span></button></td>
                        }
                        else
                        {
                            <td class="align-center"></td>
                        }
                        <td class="align-center" data-bind="text: dateTimeStamp"></td>
                        <td class="align-center" data-bind="text: host"></td>
                        <td class="align-center" data-bind="text: type"></td>
                        <td class="align-center" data-bind="text: message"></td>
                        <td class="align-center" data-bind="text: level"></td>
                        <td class="align-center" data-bind="text: stackTrace"></td>
                        <td class="align-center" data-bind="text: variables"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        @Html.Partial("../Tools/PaginationKO")

    </div>

    @Html.Partial("Parts/Tools/JsonGetPage")
</div>

<script language="javascript" type="text/javascript">

    function NLog(data) {

        this.id = ko.observable(data.Id);
        this.dateTimeStamp = ko.observable(data.DateTimeStampText);
        this.host = ko.observable(data.Host);
        this.type = ko.observable(data.Type);
        this.message = ko.observable(data.Message);
        this.level = ko.observable(data.Level);
        this.stackTrace = ko.observable(data.StackTrace);
        this.variables = ko.observable(data.Variables);
    }

    function NLogsViewModel() {

        var self = this;
        self.nlogs = ko.observableArray([]);
        self.dataLoading = ko.observable();
        self.dataLoading(true);

        self.loadData = function(data) {

            var mapped = $.map(data.Data, function(item) { return new NLog(item) });
            if (self.nlogs().length > 0) {
                self.nlogs.push.apply(self.nlogs, mapped);
            } else {
                self.nlogs(mapped);
            }

            window.showPagination(data.Pages);

            self.dataLoading(false);
        };

        self.resetData = function() {
            self.nlogs.removeAll();
        };

        self.setLoadingData = function() {
            self.dataLoading(true);
        };
    }

    var model;

    function showPage(data) {

        model.loadData(data);
    }

    (function($) {

        $(function() {

            model = new NLogsViewModel();
            ko.applyBindings(model, document.getElementById('divDataErrors'));

            window.getPage(); //Запрос на сервер

            var $table = $('.table.table-striped');
            $table.off('click', '.btn-danger');
            $table.on('click', '.btn-danger', function () {
                var $button = $(this);
                var id = $button.attr('id');

                var data = { id: id };
                $.post('/Home/DeleteNLog/', data, function(markers) {

                    window.getPage(); //Запрос на сервер
                    
                }, "json");
                
                return false;
            });

        });
    })(jQuery);
</script>