@using MySeenWeb.Models;

@model HomeViewModelImprovements

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/myseen")

@{
    ViewBag.Title = Resource.Improvements;
}
<br />
<div class="form-inline">
    <div class="form-group">
        <label for="lstSelected" style="display: block;">@Resource.SelectTheCategory</label>
        @Html.DropDownListFor(model => model.Complex, Model.complexList, new { @class = "form-control", @id = "lstComplex", @style = "width: 200px;" })
        <button type="button" class="btn btn-primary" id="addButton"><span class="glyphicon glyphicon-plus"></span>&nbsp;@Resource.AddNew</button>
    </div>
</div>
<br />
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th class="col-sm-1">@Resource.Complex</th>
            <th class="col-sm-1">@Resource.Found</th>
            <th class="col-sm-1">@Resource.DateFound</th>
            <th class="col-sm-3">@Resource.Description</th>
            <th class="col-sm-1">@Resource.DateEnd</th>
            <th class="col-sm-1">@Resource.Version</th>
            <th class="col-sm-4">@Resource.Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BugsView bug in Model.Bugs)
        {
            <tr>
                <td class="align-center">@bug.ComplexText</td>
                <td class="align-center">@bug.UserName</td>
                <td class="align-center">@bug.DateFoundText</td>
                <td class="align-center">@bug.Text</td>
                <td class="align-center">@bug.DateEndText</td>
                <td class="align-center">@bug.VersionText</td>
                <td class="align-center">
                    @if (string.IsNullOrEmpty(bug.TextEnd))
                    {
                        <button type="button" class="btn btn-success btn-xs btn-block" id=@bug.Id><span class="glyphicon glyphicon-ok"></span>&nbsp;@Resource.Close</button>
                    }
                    else
                    {
                        @bug.TextEnd
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.Partial("Parts/Tools/Pagination", Model.Pages)
</div>

<footer class="row">
    <div class="text-center">
        <p class="text-muted small">@Resource.SiteVersion @Versions.WEB / @Resource.LibraryVersion @Resource.LibVersionNum</p>
    </div>
</footer>

<div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resource.AddNew</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                        <div class="form-group">
                            <label for="bugDesc" class="col-sm-2 control-label">@Resource.Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control bag-name" id="bugDesc" placeholder="@Resource.Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="complex" class="col-sm-2 control-label">@Resource.Complex</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model=>model.Complex, Model.complexList, new { @class = "form-control complex", @id = "complex" })
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;@Resource.Close
                </button>
                <button type="button" class="btn btn-success" id="submitAddButton">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.Add
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2" id="modalEnd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Завершить Улучшение</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="bugDesc" class="col-sm-2 control-label">@Resource.Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control end-name" id="bugDescEnd" placeholder="@Resource.Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bugVersion" class="col-sm-2 control-label">@Resource.Version</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control end-name" id="bugVersion" placeholder="@Resource.Version">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteButton">
                    <span class="glyphicon glyphicon-trash"></span>
                    &nbsp;@Resource.Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;@Resource.Close
                </button>
                <button type="button" class="btn btn-success" id="submitEndButton">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.SaveСhanges
                </button>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
        (function ($) {
            $(function () {
                var $addButton = $('#addButton');
                var $submitAddButton = $('#submitAddButton');
                var $select = $('#lstComplex');
                var $modalAdd = $('#modalAdd');
                var $modalEnd = $('#modalEnd');
                var $table = $('.table.table-striped');
                var url = '';
                var data = {};

                function sendRequest(innerUrl, innerData) {
                    $.ajax({
                        type: 'POST',
                        url: innerUrl,
                        data: innerData,
                        dataType: 'json',
                        success: function (response) {
                            if (response.error) {
                                alert(response.error);
                            }
                            else {
                                window.location.href = '/Home/Improvements';
                                $modalAdd.modal('hide');
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });

                    return false;
                }

                $addButton.off('click');
                $addButton.on('click', function () {
                    $modalAdd.modal('show');
                    return false;
                });

                $submitAddButton.off('click');
                $submitAddButton.on('click', function () {
                    url = '/Home/AddImprovement';
                        data = {
                            desc: $('#bugDesc').val(),
                            complex: $('#complex').val()
                        };
                    sendRequest(url, data);

                    return false;
                });

                $table.off('click', '.btn-success');
                $table.on('click', '.btn-success', function () {
                    var $button = $(this);
                    var id = $button.attr('id');
                    var $saveButton = $('#submitEndButton');
                    var $deleteButton = $('#deleteButton');

                    $modalEnd.modal('show');

                    $saveButton.off('click');
                    $saveButton.on('click', function () {
                        url = '/Home/EndImprovement';
                        data = {
                            id: id,
                            desc: $('#bugDescEnd').val(),
                            version: $('#bugVersion').val()
                        };
                        sendRequest(url, data);
                        return false;
                    });

                    $deleteButton.off('click');
                    $deleteButton.on('click', function () {
                        url = '/Home/DeleteImprovement';
                        data = {
                            id: id
                        };
                        sendRequest(url, data);

                        return false;
                    });

                    return false;
                });

                $select.on('change', function () {
                    var value = $(this).val();

                    $.ajax({
                        type: 'POST',
                        url: '/Home/ChangeCookiesImprovement',
                        data: {
                            selected: value
                        },
                        dataType: 'json',
                        success: function () {
                            window.location.href = '/Home/Improvements';
                        },
                        error: function () {
                            alert('Error');
                        }
                    });

                    return false;
                });
            });
        })(jQuery);
</script>