@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/myseen.table")
@Scripts.Render("~/bundles/knockout")

@{
    ViewBag.Title = Resource.Logs;
}
<br />

<div data-bind="visible: dataLoading " align="center">
    <img src="~/Content/Images/loading_small.gif"/>
</div>

<div data-bind="visible: logs().length > 0" style="display: none;">

    <div class="table-responsive">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th class="col-sm-1">@Resource.UserName</th>
                    <th class="col-sm-2">@Resource.UserAgent</th>
                    <th class="col-sm-1">@Resource.IPAdress</th>
                    <th class="col-sm-1">@Resource.FirstCall</th>
                    <th class="col-sm-1">@Resource.DateLast</th>
                    <th class="col-sm-1">@Resource.Amount</th>
                    <th class="col-sm-1">@Resource.PageName</th>
                    <th class="col-sm-4">@Resource.AddData</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: logs">
                <tr>
                    <td class="align-center" data-bind="text: userName"></td>
                    <td class="align-center" data-bind="text: userAgent"></td>
                    <td class="align-center" data-bind="text: ipAdress"></td>
                    <td class="align-center" data-bind="text: dateFirst"></td>
                    <td class="align-center" data-bind="text: dateLast"></td>
                    <td class="align-center" data-bind="text: count"></td>
                    <td class="align-center" data-bind="text: pageName"></td>
                    <td class="align-center" data-bind="foreach: addData">
                        <div data-bind="text: $data">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @Html.Partial("../Tools/PaginationKO")

</div>

@Html.Partial("Parts/Tools/JsonGetPage")


<script language="javascript" type="text/javascript">

    function Log(data) {

        this.userName = ko.observable(data.UserName);
        this.userAgent = ko.observable(data.UserAgent);
        this.ipAdress = ko.observable(data.IPAdress);
        this.dateFirst = ko.observable(data.DateFirstText);
        this.dateLast = ko.observable(data.DateLastText);
        this.count = ko.observable(data.Count);
        this.pageName = ko.observable(data.PageName);
        this.addData = ko.observableArray(data.AddDataText);
    }

    function LogsViewModel() {

        var self = this;
        self.logs = ko.observableArray([]);
        self.dataLoading = ko.observable();
        self.dataLoading(true);

        self.loadData = function (data) {

            var mapped = $.map(data.Data, function (item) { return new Log(item) });
            if (self.logs().length > 0) {
                self.logs.push.apply(self.logs, mapped);
            } else {
                self.logs(mapped);
            }

            window.showPagination(data.Pages);

            self.dataLoading(false);
        };

        self.resetData = function () {
            self.logs.removeAll();
        };

        self.setLoadingData = function () {
            self.dataLoading(true);
        };
    }

    var model;

    function showPage(data) {

        model.loadData(data);
    }

    (function ($) {

        $(function () {

            model = new LogsViewModel();
            ko.applyBindings(model);

            window.getPage(); //Запрос на сервер

        });
    })(jQuery);
</script>