@using MySeenWeb.Models;
@using MySeenWeb.Models.TablesViews

@model HomeViewModelUsers

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/myseen.table")

@{
    ViewBag.Title = Resource.Users;
}
<br />
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th class="col-sm-5">@Resource.UserName</th>
            <th class="col-sm-1">@Resource.RegisterDate</th>
            <th class="col-sm-1">@Resource.CultureName</th>
            <th class="col-sm-1">@Resource.FilmsCount</th>
            <th class="col-sm-1">@Resource.SerialsCount</th>
            <th class="col-sm-1">@Resource.BooksCount</th>
            <th class="col-sm-1">@Resource.TracksCount</th>
            <th class="col-sm-1">@Resource.EventsCount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td class="align-center">@user.Name</td>
                <td class="align-center">@user.RegiserDate</td>
                <td class="align-center">@user.Culture</td>
                <td class="align-center">@user.FilmsCount</td>
                <td class="align-center">@user.SerialsCount</td>
                <td class="align-center">@user.BooksCount</td>
                <td class="align-center">@user.TracksCount</td>
                <td class="align-center">@user.EventsCount</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.Partial("Parts/Tools/Pagination", Model.Pages)
</div>

