@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/myseen.table")
@Scripts.Render("~/bundles/knockout")

@{
    ViewBag.Title = Resource.Users;
}
<br/>

<div data-bind="visible: users().length < 1 " align="center">
    <img src="~/Content/Images/loading_small.gif" />
</div>

<div data-bind="visible: users().length > 0">
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th class="col-sm-5">@Resource.UserName</th>
                <th class="col-sm-1">@Resource.RegisterDate</th>
                <th class="col-sm-1">@Resource.CultureName</th>
                <th class="col-sm-1">@Resource.FilmsCount</th>
                <th class="col-sm-1">@Resource.SerialsCount</th>
                <th class="col-sm-1">@Resource.BooksCount</th>
                <th class="col-sm-1">@Resource.TracksCount</th>
                <th class="col-sm-1">@Resource.EventsCount</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: users">
            <tr>
                <td class="align-center" data-bind="text: name"></td>
                <td class="align-center" data-bind="text: registerDate"></td>
                <td class="align-center" data-bind="text: culture"></td>
                <td class="align-center" data-bind="text: filmsCount"></td>
                <td class="align-center" data-bind="text: serialsCount"></td>
                <td class="align-center" data-bind="text: booksCount"></td>
                <td class="align-center" data-bind="text: tracksCount"></td>
                <td class="align-center" data-bind="text: eventsCount"></td>
            </tr>
        </tbody>
    </table>

    @Html.Partial("Parts/Tools/PaginationKO")

</div>

@Html.Partial("Parts/Parts/JsonGetPage")

<script language="javascript" type="text/javascript">
    
    function User(data) {

        this.name = ko.observable(data.Name);
        this.registerDate = ko.observable(data.RegisterDate);
        this.culture = ko.observable(data.Culture);
        this.filmsCount = ko.observable(data.FilmsCount);
        this.serialsCount = ko.observable(data.SerialsCount);
        this.booksCount = ko.observable(data.BooksCount);
        this.tracksCount = ko.observable(data.TracksCount);
        this.eventsCount = ko.observable(data.EventsCount);
    }

    function UsersViewModel() {

        var self = this;
        self.users = ko.observableArray([]);

        self.loadData = function (data) {

            var mapped = $.map(data.Data, function (item) { return new User(item) });
            self.users(mapped);

            window.showPagination(data.Pages);
        };

        self.resetData = function () {
            self.users.removeAll();
        };
    }

    var model;

    function showPage(data) {

        model.loadData(data);
    }

    (function ($) {

        $(function () {

            model = new UsersViewModel();
            ko.applyBindings(model);

            window.getPage(); //Запрос на сервер

        });
    })(jQuery);
</script>