@{
    ViewBag.Title = Resource.Users;
}
<br/>

<div id="divDataUsers">

    <div data-bind="visible: dataLoading " align="center">
        <img src="~/Content/Images/loading_small.gif"/>
    </div>

    <div data-bind="visible: users().length > 0" style="display: none;">

        <div class="table-responsive">
            <table class="table table-striped" id="table">
                <thead>
                <tr>
                    <th class="col-sm-4">@Resource.UserName</th>
                    <th class="col-sm-1">@Resource.RegisterDate</th>
                    <th class="col-sm-1">@Resource.LastAction</th>
                    <th class="col-sm-1">@Resource.CultureName</th>
                    <th class="col-sm-1">@Resource.FilmsCount</th>
                    <th class="col-sm-1">@Resource.SerialsCount</th>
                    <th class="col-sm-1">@Resource.BooksCount</th>
                    <th class="col-sm-1">@Resource.TracksCount</th>
                    <th class="col-sm-1">@Resource.EventsCount</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: users">
                <tr>
                    <td class="align-center" data-bind="text: name"></td>
                    <td class="align-center" data-bind="text: registerDate"></td>
                    <td class="align-center" data-bind="text: lastAction"></td>
                    <td class="align-center" data-bind="text: culture"></td>
                    <td class="align-center" data-bind="text: filmsCount"></td>
                    <td class="align-center" data-bind="text: serialsCount"></td>
                    <td class="align-center" data-bind="text: booksCount"></td>
                    <td class="align-center" data-bind="text: tracksCount"></td>
                    <td class="align-center" data-bind="text: eventsCount"></td>
                </tr>
                </tbody>
            </table>
        </div>

        @Html.Partial("../Tools/PaginationKO")

    </div>

    @Html.Partial("Parts/Tools/JsonGetPage")
</div>

<script language="javascript" type="text/javascript">
    
    function User(data) {

        this.name = ko.observable(data.Name);
        this.registerDate = ko.observable(data.RegisterDate);
        this.lastAction = ko.observable(data.LastActionText);
        this.culture = ko.observable(data.Culture);
        this.filmsCount = ko.observable(data.FilmsCount);
        this.serialsCount = ko.observable(data.SerialsCount);
        this.booksCount = ko.observable(data.BooksCount);
        this.tracksCount = ko.observable(data.TracksCount);
        this.eventsCount = ko.observable(data.EventsCount);
    }

    function UsersViewModel() {

        var self = this;
        self.users = ko.observableArray([]);
        self.dataLoading = ko.observable();
        self.dataLoading(true);

        self.loadData = function (data) {

            var mapped = $.map(data.Data, function (item) { return new User(item) });
            if (self.users().length > 0) {
                self.users.push.apply(self.users, mapped);
            } else {
                self.users(mapped);
            }

            window.showPagination(data.Pages);

            self.dataLoading(false);
        };

        self.resetData = function () {
            self.users.removeAll();
        };

        self.setLoadingData = function () {
            self.dataLoading(true);
        };
    }

    var model;

    function showPage(data) {

        model.loadData(data);
    }

    (function ($) {

        $(function () {

            model = new UsersViewModel();
            ko.applyBindings(model, document.getElementById('divDataUsers'));


            window.getPage(); //Запрос на сервер

        });
    })(jQuery);
</script>