<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@Resource.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/myseen.table")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Home">@Resource.AppName</a>
            </div>
            <div class="navbar-collapse collapse" id="divLoginPartial">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

<div class="container body-content">
    @RenderBody()
    <hr/>
</div>

@RenderSection("scripts", required: false)

@if(!Admin.IsDebug)
{
    @Html.Partial("../Analytics/Yandex")
    
    @Html.Partial("../Analytics/Google")
    @Html.Partial("../Ads/Google")
}
@Html.Partial("../Tools/TestCookie")

</body>
</html>
