@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        
        @if (Admin.IsAdmin(User.Identity.GetUserName()))
        {
            <li><a href="/Home/Users"><span class="glyphicon glyphicon-user"></span> @Resource.Users</a></li>
            <li><a href="/Home/Logs"><span class="glyphicon glyphicon-scale"></span> @Resource.Logs</a></li>
        }

        <li><a href="/Home/Improvements"><span class="glyphicon glyphicon-signal"></span> @Resource.Improvements</a></li>

        @if (Request.Browser.IsMobileDevice)
        {
            <li><a href='https://play.google.com/store/apps/details?id=com.vve.myseen'>@Resource.OurAndroidApp</a></li>
        }
        @{ var userName = User.Identity.GetUserName(); }
        @if (userName.Contains("@"))
        {
            userName = userName.Remove(userName.IndexOf('@'));
        }
        <li><a href="/Manage"><span class="glyphicon glyphicon-lock"></span> @userName</a></li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {

        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span> @Resource.LogOff</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Request.Browser.IsMobileDevice)
        {
            <li><a href='https://play.google.com/store/apps/details?id=com.vve.myseen'>@Resource.OurAndroidApp</a></li>
        }
        <!--<li>@Html.ActionLink(Resource.Register, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>-->
        <!--<li>@Html.ActionLink(Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>-->
        <!--<li>@Html.ActionLink(Resource.Login, "", "", routeValues: null, htmlAttributes: new {id = "LoginModalButton"})</li>-->
        <li><a href='#' id="LoginModalButton"><span class="glyphicon glyphicon-log-in"></span> @Resource.Login</a></li>
    </ul>
    @Html.Partial("_LoginModal")
}
