@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    if (Admin.IsAdmin(User.Identity.GetUserName()))
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(Resource.Users, "Users", "", routeValues: null, htmlAttributes: new { id = "usersLink" })</li>
        </ul>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(Resource.Logs, "Logs", "", routeValues: null, htmlAttributes: new { id = "usersLink" })</li>
        </ul>
    }
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Resource.Improvements, "Improvements", "Home", routeValues: null, htmlAttributes: new { id = "usersLink" })</li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if(Request.Browser.IsMobileDevice)
        { 
            <li><a href='https://play.google.com/store/apps/details?id=com.vve.myseen'>@Resource.OurAndroidApp</a></li>
        }
        @{var userName = User.Identity.GetUserName();}
        @if (userName.Contains("@")) { userName = userName.Remove(userName.IndexOf('@')); }
        <li>@Html.ActionLink(userName , "Index", "Manage", routeValues: null, htmlAttributes: new { title = Resource.Manage })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resource.LogOff</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Request.Browser.IsMobileDevice)
        {
            <li><a href='https://play.google.com/store/apps/details?id=com.vve.myseen'>@Resource.OurAndroidApp</a></li>
        }
        <!--<li>@Html.ActionLink(Resource.Register, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>-->
        <!--<li>@Html.ActionLink(Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>-->
        <li>@Html.ActionLink(Resource.Login, "", "", routeValues: null, htmlAttributes: new {id = "LoginModalButton"})</li>
    </ul>
    @Html.Partial("_LoginModal")
}
