@using Microsoft.AspNet.Identity
@using MySeenLib
@if (Request.IsAuthenticated)
{
    if (Admin.isAdmin(User.Identity.GetUserName()))
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(Resource.Users, "Users", "Home", routeValues: null, htmlAttributes: new { id = "usersLink" })</li>
        </ul>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(Resource.Logs, "Logs", "Home", routeValues: null, htmlAttributes: new { id = "usersLink" })</li>
        </ul>
    }
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Resource.Bugs, "Bugs", "Home", routeValues: null, htmlAttributes: new { id = "usersLink" })</li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if(Request.Browser.IsMobileDevice)
        { 
            <li><a href='https://play.google.com/store/apps/details?id=com.vve.myseen'>@Resource.OurAndroidApp</a></li>
        }
        @{string UserName = User.Identity.GetUserName();}
        @if (UserName.Contains("@")) { UserName = UserName.Remove(UserName.IndexOf('@')); }
        <li>@Html.ActionLink(UserName , "Index", "Manage", routeValues: null, htmlAttributes: new { title = Resource.Manage })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resource.LogOff</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Request.Browser.IsMobileDevice)
        {
            <li><a href='https://play.google.com/store/apps/details?id=com.vve.myseen'>@Resource.OurAndroidApp</a></li>
        }
        <li>@Html.ActionLink(Resource.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
