@model MySeenWeb.Models.IndexViewModel
@Scripts.Render("~/bundles/jquery")

@{
    ViewBag.Title = Resource.Manage;
}

<h2>@Resource.Manage.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Resource.ChangeYourAccountSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resource.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Resource.ChangeYourPassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Resource.Create, "SetPassword")
            }
            ]
        </dd>
        <dt>@Resource.ExternalLogins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink(Resource.Manage, "ManageLogins") ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Resource.SelectLanguage</dt>
        <dd>
            @Html.DropDownList("Lang", Model.LangList, new { @class = "form-control", @id = "lstLang", @style = "width: 200px;" })
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Записей на страницу</dt>
        <dd>
            @Html.DropDownList("RPP", Model.RPPList, new { @class = "form-control", @id = "lstRPP", @style = "width: 200px;" })
        </dd>
    </dl>
        @if (Model.havedata)
        {
            <dl class="dl-horizontal">
                <dt>@Resource.DeleteData</dt>
                <dd>
                    <button type="button" class="btn btn-danger btn-xs" id="delDataButton" style="width: 200px;">
                        <span class="glyphicon glyphicon-trash"></span>
                        &nbsp;@Resource.DeleteData
                    </button>
                </dd>
            </dl>
        }
</div>

<footer class="row">
    <div class="text-center">
        <p class="text-muted small">@Resource.SiteVersion @Versions.WEB / @Resource.LibraryVersion @Resource.LibVersionNum</p>
    </div>
</footer>

<script language="javascript" type="text/javascript">
        (function ($) {
            $(function () {
                var $delDataButton = $('#delDataButton');
                var $select = $('#lstLang');
                var $selectRPP = $('#lstRPP');

                $select.on('change', function ()
                {
                    var value = $(this).val();

                    $.ajax({
                        type: 'POST',
                        url: '/Manage/ChangeLanguage',
                        data: {
                            selected: value
                        },
                        dataType: 'json',
                        success: function () {
                            window.location.href = '/Manage';
                        },
                        error: function () {
                            alert('Error');
                        }
                    });
                    return false;
                });

                $selectRPP.on('change', function () {
                    var value = $(this).val();

                    $.ajax({
                        type: 'POST',
                        url: '/Manage/ChangeRPP',
                        data: {
                            selected: value
                        },
                        dataType: 'json',
                        success: function (){
                        },
                        error: function () {
                            alert('Error');
                        }
                    });
                    return false;
                });

                $delDataButton.on('click', function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Manage/DeleteData',
                        dataType: 'json',
                        success: function () {
                            window.location.href = '/Manage';
                        },
                        error: function () {
                            alert('Error');
                        }
                    });
                    return false;
                });
            });
        })(jQuery);
</script>