@using MySeenWeb.Models;

@model HomeViewModelAbout

<h3 class="align-center">@Resource.AboutText15</h3>

<div class="all">
    @Resource.AboutText1
    <h4>@Resource.AboutText1</h4>
    <br />
    <h4>@Resource.AboutText2</h4>
    <br />
    <button type="button" class="btn btn-info btn-md" id="seenFilm">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText3
    </button>
    <br />
    <button type="button" class="btn btn-warning btn-md" id="addFilm">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText4
    </button>
    <br />
    <br />
    <button type="button" class="btn btn-info btn-md" id="seenSerial">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText5
    </button>
    <br />
    <button type="button" class="btn btn-warning btn-md" id="addSerial">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText6
    </button>
    <br />
    <br />
    <button type="button" class="btn btn-info btn-md" id="readedBook">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText7
    </button>
    <br />
    <button type="button" class="btn btn-warning btn-md" id="addBook">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText8
    </button>
    <br />
    <br />
    <button type="button" class="btn btn-info btn-md" id="beenRoads">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText9
    </button>
    <br />
    <button type="button" class="btn btn-warning btn-md" id="addRoad">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText10
    </button>
    <button type="button" class="btn btn-warning btn-md" id="addRoadEditor">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText11
    </button>
    <button type="button" class="btn btn-warning btn-md" id="addShareRoad">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.Share
    </button>
    <br />
    <br />
    <h4>@Resource.AboutText12</h4>
    <button type="button" class="btn btn-info btn-md" id="editFilm">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.Films
    </button>
    <br />
    <button type="button" class="btn btn-info btn-md" id="editSerial">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.Serials
    </button>
    <br />
    <button type="button" class="btn btn-info btn-md" id="editBook">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.Books
    </button>
    <br />
    <button type="button" class="btn btn-info btn-md" id="editRoad">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.Tracks
    </button>
    <button type="button" class="btn btn-info btn-md" id="editRoadEditor">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText13
    </button>
    <button type="button" class="btn btn-info btn-md" id="shareRoad">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText16
    </button>
    <br/>
    <h4>@Resource.AboutText14</h4>
    <br />
    <h4>@Resource.AboutText17</h4>
    <br/>
    <button type="button" class="btn btn-info btn-md" id="configCreatePassword">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText18
    </button>
    <button type="button" class="btn btn-info btn-md" id="configChangeExtServices">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText19
    </button>
    <button type="button" class="btn btn-info btn-md" id="configChangeLanguage">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText20
    </button>
    <button type="button" class="btn btn-info btn-md" id="configChangeRpp">
        <span class="glyphicon glyphicon-picture"></span>
        &nbsp;@Resource.AboutText21
    </button>
</div>


<div class="modal fade modal-window modal-images" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ModalWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-sm-12" id="data">
                <img id="image" src="@Url.Content("~/Content/Images/browser-chrome.png")" alt="" />
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    (function ($) {
        $(function () {

            var $modal = $('#ModalWindow');

            var $image = $("#image");
            $image.off('click');
            $image.on('click', function () {
                $modal.modal('hide');
                return false;
            });

            var $samples = $('.all');
            $samples.off('click', '.btn-info,.btn-warning');
            $samples.on('click', '.btn-info,.btn-warning', function () {
                var $button = $(this);
                var id = $button.attr('id');
                $modal.modal('show');
                $image.attr("src", "/Content/Images/About/" + "@CultureInfoTool.GetCulture()" + "/" + id + ".jpg");
                return false;
            });
        });
    })(jQuery);
</script>