@using MySeenWeb.Models;
@using MySeenWeb.Models.Parts
@* ReSharper disable once RedundantUsingDirective *@
@using MySeenWeb.Models.TablesViews

@model HomeViewModelSerials

@Scripts.Render("~/bundles/datetimepicker")
@Styles.Render("~/Content/datetimepicker.css")

<br />
@if (Model.HaveData)
{
    @Scripts.Render("~/bundles/myseen.table")
    
    <table class="table table-striped" id="table">
        <thead>
        <tr>
            <th class="col-sm-1"></th>
            <th class="col-sm-3">@Resource.Name</th>
            <th class="col-sm-1">@Resource.Year</th>
            <th class="col-sm-1">@Resource.LastEpisode</th>
            <th class="col-sm-2">@Resource.DateLast</th>
            <th class="col-sm-2">@Resource.DateBegin</th>
            <th class="col-sm-1">@Resource.Genre</th>
            <th class="col-sm-1">@Resource.Rating</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var elem in Model.Data)
        {
            <tr>
                @Html.Partial("Parts/Parts/TableButtons", new TableButtons(elem.Id, elem.Shared))
                <td class="align-center">@elem.Name</td>
                <td class="align-center">@elem.YearText</td>
                <td class="align-center">@elem.SeasonSeries</td>
                <td class="align-center">@elem.DateLast</td>
                <td class="align-center">@elem.DateBegin</td>
                <td class="align-center">@elem.GenreText</td>
                <td class="align-center">@elem.RatingText</td>
            </tr>
        }
        </tbody>
    </table>

    <div class="text-center">
        @Html.Partial("Parts/Tools/Pagination", Model.Pages)
    </div>
}

<div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ModalAddWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resource.AddNew @Resource.Serial</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="serialName" class="col-sm-2 control-label">@Resource.Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control movie-name" id="serialName" placeholder="@Resource.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="serialYear" class="col-sm-2 control-label">@Resource.Year</label>
                        <div class="col-sm-10">
                            <input type="number" min="1900" max="@(DateTime.Now.Year)" class="form-control movie-year" id="serialYear" placeholder="@Resource.Year" value="@(DateTime.Now.Year)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="serialSeason" class="col-sm-2 control-label">@Resource.Season</label>
                        <div class="col-sm-10">
                            <input type="number" min="1" max="100" class="form-control" id="serialSeason" placeholder="@Resource.Season">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="serialSeries" class="col-sm-2 control-label">@Resource.Series</label>
                        <div class="col-sm-10">
                            <input type="number" min="1" max="100" class="form-control" id="serialSeries" placeholder="@Resource.Series">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datetimepicker" class="col-sm-2 control-label">@Resource.When</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="datetimepicker" placeholder="@DateTime.Now"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Resource.Genre</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("Genre", Model.RatinngGenre.GenreList, new {@class = "form-control movie-genre", @id = "serialGenre"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Resource.Rating</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("Rating", Model.RatinngGenre.RatingList, new {@class = "form-control movie-rating", @id = "serialRating"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-share" id="shareGetInModalButton">
                    <span class="glyphicon glyphicon-plus"></span>
                    &nbsp;@Resource.Share
                </button>
                <button type="button" class="btn btn-danger" id="deleteButton" style="display: none;">
                    <span class="glyphicon glyphicon-trash"></span>
                    &nbsp;@Resource.Delete
                </button>
                <button type="button" class="btn btn-success" id="submitAddButton">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.Add
                </button>
                <button type="button" class="btn btn-success" id="saveButton" style="display: none;">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.SaveСhanges
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;@Resource.Close
                </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Parts/Parts/ModalShare", "serials")

<script language="javascript" type="text/javascript">
    (function ($) {
        $(function () {
            var $addButton = $('#addButton');
            var $submitAddButton = $('#submitAddButton');
            var $table = $('.table.table-striped');
            var $modal = $('#ModalAddWindow');
            var url = '';
            var data = {};
            var $datetimepicker = $('#datetimepicker');
            $datetimepicker.datetimepicker({
                //viewMode: 'years',
                locale: '@CultureInfoTool.GetCulture()'
            });
            var $shareGetInModalButton = $('#shareGetInModalButton');
            var $serialYear = $('#serialYear');
            $serialYear.on('input', function () {
                if (this.value.length > 4) this.value = this.value.slice(0, 4);
                return false;
            });

            function sendRequest(innerUrl, innerData) {
                $.ajax({
                    type: 'POST',
                    url: innerUrl,
                    data: innerData,
                    dataType: 'json',
                    success: function (response) {
                        if (response.error) {
                            alert(response.error);
                        }
                        else {
                            window.location.href = window.location.href;
                            $modal.modal('hide');
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });

                return false;
            }

            $addButton.off('click');
            $addButton.on('click', function () {
                $datetimepicker.val('@DateTime.Now');
                $serialYear.val('@DateTime.Now.Year');
                $shareGetInModalButton.hide();
                $modal.modal('show');
                return false;
            });

            $submitAddButton.off('click');
            $submitAddButton.on('click', function () {
                url = '/Home/AddSerial';
                data = {
                    name: $('#serialName').val(),
                    year: $('#serialYear').val(),
                    season: $('#serialSeason').val(),
                    series: $('#serialSeries').val(),
                    datetime: $('#datetimepicker').val(),
                    genre: $('#serialGenre').val(),
                    rating: $('#serialRating').val()
                };

                sendRequest(url, data);

                return false;
            });

            $table.off('click', '.btn-edit');
            $table.on('click', '.btn-edit', function () {
                $shareGetInModalButton.show();
                var $button = $(this);
                var $tr = $button.parent().parent();
                var $tds = $tr.find('td');
                var $modalTitle = $modal.find('.modal-title');
                var $modalBody = $modal.find('.modal-body');
                var $movieName = $modalBody.find('.movie-name');
                var $movieYear = $modalBody.find('.movie-year');
                var $movieGenre = $modalBody.find('.movie-genre');
                var $movieRating = $modalBody.find('.movie-rating');
                var $serialSeason = $('#serialSeason') || $('<input id="serialSeason" value="" />');
                var $serialSeries = $('#serialSeries') || $('<input id="serialSeries" value="" />');
                var $saveButton = $('#saveButton');
                var $deleteButton = $('#deleteButton');
                var defaultModalTitle = $modalTitle.text();
                var defaultModalGenre = $movieGenre.find('option:selected').text();
                var defaultModalRating = $movieRating.find('option:selected').text();
                var id = $button.attr('id');
                var name = $tds.eq(1).text();
                var year = $tds.eq(2).text();
                var genre = $tds.eq(-2).text();
                var rating = $tds.eq(-1).text();
                var date = $tds.eq(4).text();
                $shareGetInModalButton.off('click');
                $shareGetInModalButton.on('click', function () {
                    modalShareWork(id);
                    return false;
                });
                $movieName.val(name);
                $movieYear.val(year);
                $datetimepicker.val(date);

                $movieGenre.find('option')
                    .filter(function () {
                        return $(this).text() === genre;
                    })
                    .prop('selected', true);
                $movieRating.find('option')
                    .filter(function () {
                        return $(this).text() === rating;
                    })
                    .prop('selected', true);

                var lastEp = $tds.eq(3).text();
                var lastEpSeparated = lastEp.split('-');
                var season = 0;
                var series = 0;

                if (lastEpSeparated.length > 1) {
                    season = lastEpSeparated[0];
                    series = lastEpSeparated[1];
                }

                $modalTitle.text('@Resource.Edit @Resource.Serial');
                $serialSeason.val(season);
                $serialSeries.val(series);

                $submitAddButton.hide();
                $saveButton.show();
                $deleteButton.show();
                $modal.modal('show');

                $modal.on('hidden.bs.modal', function () {
                    $modalTitle.text(defaultModalTitle);
                    $movieName.val('');
                    $movieYear.val('');
                    $serialSeason.val('');
                    $serialSeries.val('');
                    $movieGenre.find('option')
                        .filter(function () {
                            return $(this).text() === defaultModalGenre;
                        })
                        .prop('selected', true);
                    $movieRating.find('option')
                        .filter(function () {
                            return $(this).text() === defaultModalRating;
                        })
                        .prop('selected', true);
                    $saveButton.hide();
                    $deleteButton.hide();
                    $submitAddButton.show();

                    return false;
                });

                $saveButton.off('click');
                $saveButton.on('click', function () {

                    url = '/Home/EditSerial';
                    data = {
                        id: id,
                        name: $('#serialName').val(),
                        year: $('#serialYear').val(),
                        season: $('#serialSeason').val(),
                        series: $('#serialSeries').val(),
                        datetime: $('#datetimepicker').val(),
                        genre: $('#serialGenre').val(),
                        rating: $('#serialRating').val()
                    };

                    sendRequest(url, data);

                    return false;
                });

                $deleteButton.off('click');
                $deleteButton.on('click', function () {

                    url = '/Home/DeleteSerial';
                    data = {
                        id: id
                    };

                    sendRequest(url, data);

                    return false;
                });

                return false;
            });
        });
    })(jQuery);
</script>