@using MySeenWeb.Models;

@model HomeViewModelTracks

<br />

@Scripts.Render("~/bundles/gmap3", "~/bundles/myseen.gmap")
<!-- надо геометрия для расчета расстояний и путей <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry"></script>

<div class="row">
    <div class="panel panel-primary col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">@Resource.Tracks</div>
            <ul class="nav nav-tabs">
                @if (Model.HaveFoot)
                {
                    <li class="active"><a data-toggle="tab" href="#menu1">@Resource.FootBike</a></li>
                }
                @if (Model.HaveCar)
                {
                    if (Model.HaveFoot)
                    {
                        <li><a data-toggle="tab" href="#menu2">@Resource.Car</a></li>
                    }
                    else
                    {
                        <li class="active"><a data-toggle="tab" href="#menu2">@Resource.Car</a></li>
                    }
                }
            </ul>
            <div class="tab-content page-size-gmap page-scrolable">
                @if (Model.HaveFoot)
                {
                    <div id="menu1" class="list-group tab-pane fade in active">
                        <a href="" class="list-group-item track-id" id="All Foot">
                            <h5 class="list-group-item-heading align-center">@Resource.All</h5>
                        </a>
                        @foreach (var track in Model.DataFoot)
                        {
                            <a href="" class="list-group-item track-id" id=@track.Id>
                                <h5 class="list-group-item-heading">@track.Name<span class="badge pull-right">@track.DateText</span></h5>
                                <h6 class="list-group-item-text align-center">@Resource.Distance :<span class="badge pull-right alert-info small">@track.DistanceText</span></h6>
                            </a>
                        }
                    </div>
                }
                @if (Model.HaveCar)
                {
                    <div id="menu2" class="list-group tab-pane fade @Model.HaveFoot?:in active">
                        <a href="" class="list-group-item track-id" id="All Car">
                            <h5 class="list-group-item-heading align-center">@Resource.All</h5>
                        </a>
                        @foreach (var track in Model.DataCar)
                        {
                            <a href="" class="list-group-item track-id" id=@track.Id>
                                <h5 class="list-group-item-heading">@track.Name<span class="badge pull-right">@track.DateText</span></h5>
                                <h6 class="list-group-item-text align-center">@Resource.Distance :<span class="badge pull-right alert-info small">@track.DistanceText</span></h6>
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-primary col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">@Resource.Map</div>
            <div id="my_map" class="gmap page-size-gmap"></div>
        </div>
    </div>
</div>

<div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ModalAddWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    @Resource.AddNew <text>@Resource.Tracks</text>
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="trackName" class="col-sm-2 control-label">@Resource.Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control bag-name" id="trackName" placeholder="@Resource.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">@Resource.Type</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("type", Model.TypeList, new { @class = "form-control type", @id = "type" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trackCoords" class="col-sm-2 control-label">@Resource.Coordinates</label>
                        <div class="col-sm-10">
                            @Html.TextArea("trackCoords", null, 10, 55, new { @class = "form-control trackCoords", @placeholder = "lat,lng;lat,lng;..." })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteButton" style="display: none;">
                    <span class="glyphicon glyphicon-trash"></span>
                    &nbsp;@Resource.Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;@Resource.Close
                </button>
                <button type="button" class="btn btn-success" id="submitAddButton">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.Add
                </button>
                <button type="button" class="btn btn-success" id="saveButton" style="display: none;">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.SaveСhanges
                </button>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    (function ($) {
        $(function () {
            var $list = $('.tab-content');
            var $addButton = $('#addButton');
            var $submitAddButton = $('#submitAddButton');
            var $modal = $('#ModalAddWindow');
            var url = '';
            var data = {};

            function sendRequest(innerUrl, innerData) {
                $.ajax({
                    type: 'POST',
                    url: innerUrl,
                    data: innerData,
                    dataType: 'json',
                    success: function (response) {
                        if (response.error) {
                            alert(response.error);
                        }
                        else {
                            window.location.href = '/';
                            $modal.modal('hide');
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });

                return false;
            }

            $addButton.off('click');
            $addButton.on('click', function () {
                $modal.modal('show');

                return false;
            });

            $submitAddButton.off('click');
            $submitAddButton.on('click', function () {
 
                url = '/Home/AddTrack';
                data = {
                    name: $('#trackName').val(),
                    type: $('#type').val(),
                    coordinates: $('#trackCoords').val(),
                    distance: CalcDistanceFromTxt($('#trackCoords').val())
                };

                sendRequest(url, data);
                return false;
            });

            $list.off('click', '.track-id');
            $list.on('click', '.track-id', function () {
                var $item = $(this);
                var id = $item.attr('id');
                //console.log("id=", id);
                if (id === 'All Foot') {
                    clearMap();
                    var $rows = $list.find('a');
                    //console.log("rows=", $rows);
                    var skip = false;
                    var skip_once = false;
                    $rows.each(function (index, element) {
                        var $row = $(element);
                        //console.log("row=", $row);
                        var id = $row.attr('id');
                        skip_once = false;

                        if (id === 'All Foot') skip_once = true;
                        if (id === 'All Car') skip = true;

                        if (!(skip || skip_once)) {
                            showTrack(id);
                        }
                        else {
                            //console.log("skip");
                        }
                    });
                    //Просто перебрать все пехо треки и показать их без очистки
                }
                else if (id === 'All Car') {
                    clearMap();
                    var $rows = $list.find('a');
                    //console.log("rows=", $rows);

                    var skip = false;
                    var skip_once = false;
                    $rows.each(function (index, element) {
                        var $row = $(element);
                        //console.log("row=", $row);
                        var id = $row.attr('id');
                        skip_once = false;

                        if (id === 'All Foot') skip = true;
                        if (id === 'All Car') {
                            skip = false;
                            skip_once = true;
                        }

                        if (!(skip || skip_once)) {
                            showTrack(id);
                        }
                        else {
                            //console.log("skip");
                        }
                    });
                }
                else showTrack(id, true);
                return false;
            });
        });
    })(jQuery);
</script>

