@model MySeenWeb.Models.HomeModels.TracksViewModel
<style type="text/css">
    
    
    
</style>

<br/>

@Scripts.Render("~/bundles/gmap3", "~/bundles/myseen.gmap")
<!-- надо геометрия для расчета расстояний и путей <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry"></script>

<div class="row">
    <div class="panel panel-primary col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">@Resource.Tracks</div>
            <ul class="nav nav-tabs">
                @if (Model.HaveFoot)
                {
                    <li class="active">
                        <a data-toggle="tab" href="#menu1">@Resource.FootBike</a>
                    </li>
                }
                @if (Model.HaveCar)
                {
                    if (Model.HaveFoot)
                    {
                        <li>
                            <a data-toggle="tab" href="#menu2">@Resource.Car</a>
                        </li>
                    }
                    else
                    {
                        <li class="active">
                            <a data-toggle="tab" href="#menu2">@Resource.Car</a>
                        </li>
                    }
                }
            </ul>
            <div class="tab-content page-size-gmap page-scrolable">
                @if (Model.HaveFoot)
                {
                    <div id="menu1" class="list-group tab-pane fade in active">
                        <a href="" class="list-group-item track-id" id="All Foot">
                            <h5 class="list-group-item-heading align-center">
                                @Resource.All<span class="badge pull-right">@Model.CountFoot</span></h5>
                            <h6 class="list-group-item-text align-left">
                                @Resource.Actions :
                                <span class="pull-right alert-info small">
                                    <button class="btn btn-xs btn-info" id="All Foot"><small><span class="glyphicon glyphicon-share"></span></small></button>
                                </span>
                            </h6>
                        </a>
                        @foreach (var track in Model.DataFoot)
                        {
                            <a href="" class="list-group-item track-id" id=@track.Id>
                                <h5 class="list-group-item-heading">
                                    @track.Name<span class="badge pull-right">@track.DateText</span></h5>
                                <h6 class="list-group-item-text align-center">@Resource.Distance :<span class="badge pull-right alert-info small">@track.DistanceText</span></h6>
                                <h6 class="list-group-item-text align-left">
                                    @Resource.Actions :
                                    <span class="pull-right alert-info small">
                                        <button class="btn btn-xs btn-info" id=@track.Id><small><span class="glyphicon glyphicon-share"></span></small></button>
                                        <button class="btn btn-xs btn-warning" id=@track.Id><small><span class="glyphicon glyphicon-pencil"></span></small></button>
                                        <!--<button class="btn btn-xs btn-warning" id=@track.Id><small><span class="glyphicon glyphicon-trash"></span></small></button>-->
                                    </span>
                                </h6>
                            </a>
                        }
                    </div>
                }
                @if (Model.HaveCar)
                {
                    <div id="menu2" class="list-group tab-pane fade @Model.HaveFoot?:in active">
                        <a href="" class="list-group-item track-id" id="All Car">
                            <h5 class="list-group-item-heading align-center">
                                @Resource.All<span class="badge pull-right">@Model.CountCar</span></h5>
                            <h6 class="list-group-item-text align-left">
                                @Resource.Actions :
                                <span class="pull-right alert-info small">
                                    <button class="btn btn-xs btn-info" id="All Car"><small><span class="glyphicon glyphicon-share"></span></small></button>
                                </span>
                            </h6>
                        </a>
                        @foreach (var track in Model.DataCar)
                        {
                            <a href="" class="list-group-item track-id" id=@track.Id>
                                <h5 class="list-group-item-heading">
                                    @track.Name<span class="badge pull-right">@track.DateText</span></h5>
                                <h6 class="list-group-item-text align-center">@Resource.Distance :<span class="badge pull-right alert-info small">@track.DistanceText</span></h6>
                                <h6 class="list-group-item-text align-left">
                                    @Resource.Actions :
                                    <span class="pull-right alert-info small">
                                        <button class="btn btn-xs btn-info" id=@track.Id><small><span class="glyphicon glyphicon-share"></span></small></button>
                                        <button class="btn btn-xs btn-warning" id=@track.Id><small><span class="glyphicon glyphicon-pencil"></span></small></button>
                                        <!--<button class="btn btn-xs btn-warning" id=@track.Id><small><span class="glyphicon glyphicon-trash"></span></small></button>-->
                                    </span>
                                </h6>
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-primary col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">@Resource.Map</div>
            <div id="my_map" class="gmap page-size-gmap"></div>
        </div>
    </div>
</div>

<div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ModalAddWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resource.AddNew @Resource.Track</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="trackName" class="col-sm-2 control-label">@Resource.Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control track-name" id="trackName" placeholder="@Resource.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Resource.Type</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("type", Model.TypeList, new {@class = "form-control track-type", @id = "type"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Resource.Coordinates</label>
                        <div class="col-sm-10">
                            @Html.TextArea("trackCoords", null, 10, 55, new {@class = "form-control track-coords", @placeholder = "Latitude,Longitude;Latitude,Longitude;..."})
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteButton" style="display: none;">
                    <span class="glyphicon glyphicon-trash"></span>
                    &nbsp;@Resource.Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;@Resource.Close
                </button>
                <button type="button" class="btn btn-success" id="submitAddButton">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.Add
                </button>
                <button type="button" class="btn btn-success" id="saveButton" style="display: none;">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;@Resource.SaveСhanges
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ModalShareWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resource.Share @Resource.Track</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="trackName" class="col-sm-2 control-label">@Resource.Link</label>
                        <input type="text" class="form-control track-name col-sm-7" id="trackLink" placeholder="@Resource.Link">
                        <button type="button" class="btn btn-info col-sm-3" id="shareTryButton">@Resource.Try&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="shareGetButton">
                    <span class="glyphicon glyphicon-plus"></span>
                    &nbsp;@Resource.Add @Resource.Share
                </button>
                <button type="button" class="btn btn-danger" id="shareDeleteGetButton">
                    <span class="glyphicon glyphicon-trash"></span>
                    &nbsp;@Resource.Delete @Resource.Share
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;@Resource.Close
                </button>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    (function($) {
        $(function() {
            var $list = $('.tab-content');
            var $addButton = $('#addButton');
            var $submitAddButton = $('#submitAddButton');
            var $modal = $('#ModalAddWindow');
            var $modalShare = $('#ModalShareWindow');
            var $modalBody = $modal.find('.modal-body');
            var $saveButton = $('#saveButton');
            var url = '';
            var data = {};

            function sendRequest(innerUrl, innerData, noRedirect) {
                $.ajax({
                    type: 'POST',
                    url: innerUrl,
                    data: innerData,
                    dataType: 'json',
                    success: function(response) {
                        if (response.error) {
                            alert(response.error);
                        } else {
                            $modal.modal('hide');
                            $modalShare.modal('hide');
                            if (!noRedirect)window.location.href = '/';
                        }
                    },
                    error: function(err) {
                        alert(err);
                    }
                });

                return false;
            }

            $addButton.off('click');
            $addButton.on('click', function() {
                $modal.modal('show');

                return false;
            });

            $submitAddButton.off('click');
            $submitAddButton.on('click', function() {

                url = '/Home/AddTrack';
                data = {
                    name: $('#trackName').val(),
                    type: $('#type').val(),
                    coordinates: $('#trackCoords').val(),
                    distance: CalcDistanceFromTxt($('#trackCoords').val())
                };

                sendRequest(url, data);
                return false;
            });

            $list.off('click', '.btn-info');
            $list.on('click', '.btn-info', function() {
                var $item = $(this);
                var id = $item.attr('id');
                var $shareGetButton = $('#shareGetButton');
                var $shareDeleteGetButton = $('#shareDeleteGetButton');
                var $shareTryButton = $('#shareTryButton');
                var $trackLink = $('#trackLink');

                console.log("Share click id=", id);


                $shareDeleteGetButton.hide();
                $shareTryButton.hide();
                $shareGetButton.show();
                $.getJSON('/Home/GetTrackShare/' + id + '/', function(data) {
                    console.log('GetTrackShare=', data);
                    if (data === '') return;
                    $shareGetButton.hide();
                    $shareTryButton.show();
                    $shareDeleteGetButton.show();
                    $trackLink.val(data);
                });
                var $modalTitle = $modalShare.find('.modal-title');
                $modalTitle.text('@Resource.Share @Resource.Track');

                $modalShare.modal('show');

                $trackLink.val('');

                $shareGetButton.off('click');
                $shareGetButton.on('click', function() {
                    console.log("shareGetButton id=", id);

                    $.getJSON('/Home/GenerateTrackShare/' + id + '/', function(data) {
                        //console.log('GetTrackShare=', data);
                        $shareGetButton.hide();
                        $shareDeleteGetButton.show();
                        $shareTryButton.show();
                        $trackLink.val(data);
                    });

                    return false;
                });

                $shareDeleteGetButton.off('click');
                $shareDeleteGetButton.on('click', function() {
                    console.log("shareDeleteGetButton id=", id);

                    url = '/Home/DeleteTrackShare/' + id + '/';
                    data = { id: id };

                    sendRequest(url, data, true);

                    return false;
                });

                $shareTryButton.off('click');
                $shareTryButton.on('click', function() {
                    console.log("$shareTryButton id=", id);

                    window.open($trackLink.val(), '_blank');

                    $modalShare.modal('hide');
                    return false;
                });


                return false;
            });
            $list.off('click', '.btn-warning');
            $list.on('click', '.btn-warning', function() {
                var $item = $(this);
                var id = $item.attr('id');
                var $trackName = $modalBody.find('.track-name');
                var $modalTitle = $modal.find('.modal-title');
                var $trackType = $modalBody.find('.track-type');
                var $trackCoords = $modalBody.find('.track-coords');
                var defaultModalType = $trackType.find('option:selected').text();

                GetTrackNameByIdIntoField(id, $trackName);
                GetTrackCoordinatesByIdIntoField(id, $trackCoords);

                var typeinmenu = $item.parent().parent().parent().parent().attr('id');
                //console.log('type=', typeinmenu);
                if (typeinmenu === 'menu2') {
                    $trackType.find('option').filter(function(index) { return index === 1; }).prop('selected', true);
                }

                console.log("Edit click id=", id);

                var $deleteButton = $('#deleteButton');
                var defaultModalTitle = $modalTitle.text();
                $modalTitle.text('@Resource.Edit @Resource.Track');

                $modal.on('hidden.bs.modal', function() {
                    $modalTitle.text(defaultModalTitle);
                    $trackName.val('');
                    $trackCoords.val('');

                    $trackType.find('option')
                        .filter(function() {
                            return $(this).text() === defaultModalType;
                        })
                        .prop('selected', true);

                    $saveButton.hide();
                    $deleteButton.hide();
                    $submitAddButton.show();

                    return false;
                });

                $submitAddButton.hide();
                $saveButton.show();
                $deleteButton.show();
                $modal.modal('show');

                $deleteButton.off('click');
                $deleteButton.on('click', function() {

                    url = '/Home/DeleteTrack';
                    console.log('delete track=', id);
                    data = { id: id };
                    alert('Пока не делал, стремно терять, их сложно делать..');
                    //sendRequest(url, data);

                    return false;
                });

                $saveButton.off('click');
                $saveButton.on('click', function() {
                    url = '/Home/EditTrack';
                    data = {
                        id: id,
                        name: $('#trackName').val(),
                        type: $('#type').val(),
                        coordinates: $('#trackCoords').val(),
                        distance: CalcDistanceFromTxt($('#trackCoords').val())
                    };

                    sendRequest(url, data);

                    return false;
                });


                return false;
            });


            $list.off('click', '.track-id');
            $list.on('click', '.track-id', function() {
                var $item = $(this);
                var id = $item.attr('id');
                //console.log("track-id id=", id);
                var $rows;
                var skip;
                var skipOnce;
                if (id === 'All Foot') {
                    clearMap();
                    $rows = $list.find('a');
                    //console.log("rows=", $rows);
                    skip = false;
                    skipOnce = false;
                    $rows.each(function(index, element) {
                        var $row = $(element);
                        //console.log("row=", $row);
                        var id = $row.attr('id');
                        skipOnce = false;

                        if (id === 'All Foot') skipOnce = true;
                        if (id === 'All Car') skip = true;

                        if (!(skip || skipOnce)) {
                            showTrack(id);
                        }
                    });
                    //Просто перебрать все пехо треки и показать их без очистки
                } else if (id === 'All Car') {
                    clearMap();
                    $rows = $list.find('a');
                    //console.log("rows=", $rows);
                    skip = false;
                    skipOnce = false;
                    $rows.each(function(index, element) {
                        var $row = $(element);
                        //console.log("row=", $row);
                        var id = $row.attr('id');
                        skipOnce = false;

                        if (id === 'All Foot') skip = true;
                        if (id === 'All Car') {
                            skip = false;
                            skipOnce = true;
                        }

                        if (!(skip || skipOnce)) {
                            showTrack(id);
                        }
                    });
                } else showTrack(id, true);
                return false;
            });
        });
    })(jQuery);
</script>