@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@model MySeenWeb.Models.HomeViewModel

@if (Request.IsAuthenticated) // Дадим возможность выхода
{
    <script language="javascript" type="text/javascript">
        (function($) {
            $(function() {
                var $LogoutButton = $("#LogoutButton");
                $LogoutButton.off('click');
                $LogoutButton.on('click', function() {

                    $.post('/Account/LogOut', {}, function(jsonData) {

                        if (jsonData.error) {
                            alert(jsonData.error);
                            if (jsonData.error === window.GNoRights || jsonData.error === window.GNotAuthorized) {
                                window.location.href = '/';
                            }
                        } else {
                            window.location.reload();
                        }
                    });
                });

                setGmapMarkers('@Model.Markers');
                setGmapMenuName('@Resource.SetPointHere');

            });
        })(jQuery);
    </script>
}
else
{
    <div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="LogInModalWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close myseen-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">@Resource.Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" style="margin-left: -1px;">
                        @{
                            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                            var authenticationDescriptions = loginProviders as IList<AuthenticationDescription> ?? loginProviders.ToList();
                            if (authenticationDescriptions.Any() || Nemiro.OAuth.OAuthManager.RegisteredClients.Count != 0)
                            {
                                <div class="form-group col-sm-12">
                                    <button type="button" class="btn btn-danger btn-md btn-block" id="UseAnotherServiceToLogIn">
                                        <span class="glyphicon glyphicon-log-in"></span>
                                        &nbsp;@Resource.UseAnotherServiceToLogIn
                                    </button>
                                </div>
                            }
                        }
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-warning btn-block" id="RegisterButton">
                                <span class="glyphicon glyphicon-user"></span>
                                &nbsp;@Resource.TxtForLogin2
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="userName" class="col-sm-2 control-label">@Resource.Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="userName" placeholder="@Resource.Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">@Resource.Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" placeholder="@Resource.Password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                @Html.CheckBox("RememberMe", true)
                                <label for="RememberMe" class="ontrol-label">@Resource.Remember</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-block" id="LoginButton">
                        <span class="glyphicon glyphicon-ok"></span>
                        &nbsp;@Resource.Login
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="LoginExternalModalWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @{
                                using (Html.BeginForm("ExternalLogin", "Account"))
                                {

                                    @Html.AntiForgeryToken()
                                    foreach (var p in authenticationDescriptions)
                                    {
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary btn-block" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@Resource.LogInUsingYour @p.Caption @Resource.Account ">@p.AuthenticationType</button>
                                        </div>
                                    }
                                    foreach (var p in Nemiro.OAuth.OAuthManager.RegisteredClients)
                                    {
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary btn-block" id="@p.Key" name="provider" value="@p.Key" title="@Resource.LogInUsingYour @p.Value.ProviderName @Resource.Account ">@p.Key</button>
                                        </div>
                                    }
                                }
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="RegisterModalWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close myseen-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">@Resource.Register</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="registerUserName" class="col-sm-2 control-label">@Resource.Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="registerUserName" placeholder="@Resource.Email" data-ng-model="modalRegister.Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="registerPassword" class="col-sm-2 control-label">@Resource.Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="registerPassword" placeholder="@Resource.Password" data-ng-model="modalRegister.Password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="registerRepeatPassword" class="col-sm-2 control-label">@Resource.Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="registerRepeatPassword" placeholder="@Resource.Password" data-ng-model="modalRegister.RepeatPassword"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"
                     data-ng-show="modalRegister.Email.length > 5 && modalRegister.Password.length > 5 && modalRegister.Password === modalRegister.RepeatPassword">
                    <button type="button" class="btn btn-success btn-block" id="RegisterUserButton">
                        <span class="glyphicon glyphicon-ok"></span>
                        &nbsp;@Resource.Register
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        (function($) {
            $(function() {
                var $LogInButton = $("#LogInButton");
                $LogInButton.off('click');
                $LogInButton.on('click', function() {

                    $("#LogInModalWindow").modal('show');

                });
                var $UseAnotherServiceToLogIn = $("#UseAnotherServiceToLogIn");
                $UseAnotherServiceToLogIn.off('click');
                $UseAnotherServiceToLogIn.on('click', function() {

                    $("#LogInModalWindow").modal('hide');
                    $("#LoginExternalModalWindow").modal('show');

                });
                var $RegisterButton = $("#RegisterButton");
                $RegisterButton.off('click');
                $RegisterButton.on('click', function() {

                    $("#LogInModalWindow").modal('hide');
                    $("#RegisterModalWindow").modal('show');

                });

                var $LoginButton = $("#LoginButton");
                $LoginButton.off('click');
                $LoginButton.on('click', function() {

                    $.post('/Account/LoginMain', {
                        userName: $('#userName').val(),
                        password: $('#password').val(),
                        remember: $('#RememberMe').val()
                    }, function(jsonData) {
                        if (jsonData.error) {
                            alert(jsonData.error);
                            if (jsonData.error === window.GNoRights || jsonData.error === window.GNotAuthorized) {
                                window.location.href = '/';
                            }
                        } else {
                            window.location.href = '/';
                        }
                    });
                });

                var $RegisterUserButton = $("#RegisterUserButton");
                $RegisterUserButton.off('click');
                $RegisterUserButton.on('click', function() {

                    $.post('/Account/Register', {
                        userName: $('#registerUserName').val(),
                        password: $('#registerPassword').val(),
                        repeatPassword: $('#registerRepeatPassword').val()
                    }, function(jsonData) {
                        if (jsonData.error) {
                            alert(jsonData.error);
                            if (jsonData.error === window.GNoRights || jsonData.error === window.GNotAuthorized) {
                                window.location.href = '/';
                            }
                        } else {
                            window.location.href = '/';
                        }
                    });
                });


            });
        })(jQuery);
    </script>
}