@using MySeenWeb.Models;

@model HomeViewModel

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")

<br />

@if (User.Identity.IsAuthenticated)
{
    if (!Model.ExtPage)
    {
        <div class="form-inline">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <label style="display: block;">@Resource.SelectTheCategory</label>
                            @Html.DropDownList("Selected", Model.SelectList, new { @class = "form-control", @id = "lstSelected" })
                            <button type="button" class="btn btn-primary" id="addButton">
                                <span class="glyphicon glyphicon-plus"></span>
                                &nbsp;@Resource.AddNew
                            </button>
                        </div>
                        @if (Model.PageFilms || Model.PageSerials || Model.PageBooks || Model.PageEvents)
                        {
                            <div class="form-group">
                                <!--Переделать на поиск по БД-->
                                <label for="quickSearch" style="display: block;">@Resource.QuickSearch:</label>
                                <input type="text" class="form-control" id="quickSearch" style="width: 150px;">
                                <button type="button" class="btn btn-info" id="searchButton">
                                    <span class="glyphicon glyphicon-search"></span>
                                    &nbsp;@Resource.QuickSearch
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    if (Model.PageFilms)
    {
        @Html.Partial("Parts/Films", Model.Films)
    }
    else if (Model.PageSerials)
    {
        @Html.Partial("Parts/Serials", Model.Serials)
    }
    else if (Model.PageBooks)
    {
        @Html.Partial("Parts/Books", Model.Books)
    }
    else if (Model.PageRoads)
    {
        @Html.Partial("Parts/Roads", Model.Roads)
    }
    else if (Model.PageUsers)
    {
        @Html.Partial("Parts/Ext/Users")
    }
    else if (Model.PageLogs)
    {
        @Html.Partial("Parts/Ext/Logs", Model.Logs)
    }
    else if (Model.PageErrors)
    {
        @Html.Partial("Parts/Ext/Errors", Model.Errors)
    }
    else if (Model.PageImprovements)
    {
        @Html.Partial("Parts/Ext/Improvements", Model.Improvements)
    }
    else if (Model.PageEvents)
    {
        @Html.Partial("Parts/Events", Model.Events)
    }
    if (!Model.ExtPage)
    {
        <script language="javascript" type="text/javascript">
            (function($) {
                $(function() {
                    var $select = $('#lstSelected');
                    var $search = $('#searchButton');
                    var $quickSearch = $('#quickSearch');

                    $select.on('change', function() {
                        var value = $(this).val();

                        $.ajax({
                            type: 'POST',
                            url: '/Home/ChangeCookies',
                            data: {
                                selected: value
                            },
                            dataType: 'json',
                            success: function() {
                                window.location.href = '/';
                            },
                            error: function() {
                                alert('Error');
                            }
                        });

                        return false;
                    });

                    $search.off('click');
                    $search.on('click', function() {

                        //window.location.href = '/?search=' + $quickSearch.val();
                        var data = { search: $quickSearch.val() };
                        window.getPage(data);
                    });
                    $quickSearch.on('keypress', function (event) {
                        if (event.which === 13) {

                            //window.location.href = '/?search=' + $quickSearch.val();
                            var data = { search:$quickSearch.val() };
                            window.getPage(data);
                        }
                    });


                });
            })(jQuery);
        </script>
    }
}
else
{
    @Html.Partial("Parts/About", Model.About)
}
