@using MySeenWeb.Models;
@using MySeenLib;

@model LogsViewModel

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")

@{
    ViewBag.Title = Resource.Logs;
}
<br />
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th width="10%">User Name</th>
            <th width="20%">UserAgent</th>
            <th width="5%">IPAdress</th>
            <th width="10%">Date First</th>
            <th width="10%">Date Last</th>
            <th width="5%">Count</th>
            <th width="10%">Page Name</th>
            <th width="30%">Add data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LogsView log in Model.Logs)
        {
            <tr>
                <td class="align-center">@log.UserName</td>
                <td class="align-center">@log.UserAgent</td>
                <td class="align-center">@log.IPAdress</td>
                <td class="align-center">@log.DateFirst</td>
                <td class="align-center">@log.DateLast</td>
                <td class="align-center">@log.Count</td>
                <td class="align-center">@log.PageName</td>
                <td class="align-center">
                    @if (!string.IsNullOrEmpty(log.AddData))
                    { 
                        if(!log.AddData.Contains("!%!"))
                        {
                            @log.AddData
                        }
                        else
                        {
                            log.AddData=log.AddData.Replace("_", " ");
                            log.AddData=log.AddData.Replace("!%!", "_");
                            foreach(string s in log.AddData.Split('_'))
                            {
                                @s
                                <br />
                            }
                        } 
                    }   
                    else
                    {
                        @log.AddData
                    }      
                </td>
            </tr>
        }
    </tbody>
</table>
<script language="javascript" type="text/javascript">
    (function ($) {
        $(function () {
            var $table = $('.table.table-striped');
            var $thead = $table.find('thead');
            var $ths = $thead.find('tr th');
            var offsetTop = $thead.offset().top;
            var thWidths = [];

            $ths.each(function (index, element) {
                var $th = $(element);

                thWidths.push($th.width());
            });

            $(window).on('scroll', function () {
                var scrollTop = $(window).scrollTop() + 50;

                if (scrollTop >= offsetTop) {
                    $thead.css({ 'position': 'fixed', 'top': '50px' });

                    var $firstTr = $table.find('tbody tr:first');

                    $ths.each(function (index, element) {
                        var $th = $(element);

                        $th.width(thWidths[index]);
                        $firstTr.find('td').eq(index).width(thWidths[index]);
                    });
                } else {
                    $thead.css({ 'position': 'relative', 'top': 'auto' });
                }
            });
        });
    })(jQuery);
</script>