@using MySeenWeb.Models;
@using MySeenLib;

@model UsersViewModel

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")

@{
    ViewBag.Title = Resource.Users;
}

<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th width="20%">@Resource.UserName</th>
            <th width="20%">@Resource.RegisterDate</th>
            <th width="20%">@Resource.CultureName</th>
            <th width="20%">@Resource.FilmsCount</th>
            <th width="20%">@Resource.SerialsCount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UsersView user in Model.Users)
        {
            <tr>
                <td class="align-center">@user.Name</td>
                <td class="align-center">@user.RegiserDate</td>
                <td class="align-center">@user.Culture</td>
                <td class="align-center">@user.FilmsCount</td>
                <td class="align-center">@user.SerialsCount</td>
            </tr>
        }
    </tbody>
</table>

<script language="javascript" type="text/javascript">
    (function ($) {
        $(function () {
            var $table = $('.table.table-striped');
            var $thead = $table.find('thead');
            var $ths = $thead.find('tr th');
            var offsetTop = $thead.offset().top;
            var thWidths = [];

            $ths.each(function (index, element) {
                var $th = $(element);

                thWidths.push($th.width());
            });

            $(window).on('scroll', function () {
                var scrollTop = $(window).scrollTop() + 50;

                if (scrollTop >= offsetTop) {
                    $thead.css({ 'position': 'fixed', 'top': '50px' });

                    var $firstTr = $table.find('tbody tr:first');

                    $ths.each(function (index, element) {
                        var $th = $(element);

                        $th.width(thWidths[index]);
                        $firstTr.find('td').eq(index).width(thWidths[index]);
                    });
                } else {
                    $thead.css({ 'position': 'relative', 'top': 'auto' });
                }
            });
        });
    })(jQuery);
</script>
